*.docx
*.pdf
/tp modul 2/cobajurnal/target/
/tp modul 3/tp03/target/
/tp modul 4/Main/target/
/tp modul 6/Main/target/
/tp modul 7/Main/target/
/tp modul 9/Main/target/
/tp modul 10/Main/target/
/tp modul 11/Tp11/target/
/tp modul 12/TP12/nbproject/private/
/tp modul 12/TP12/build/
